.body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.box-head {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  /* align-items: center; */
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.logo-span {
  color: var(--navy-blue);
}

.list {
  list-style: none;
  padding-left: 0;
  /* margin: 0; */
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
}

.hover-focus:hover,
.hover-focus:focus {
  color: var(--ocean);
}

.adress {
  font-style: normal;
  margin-left: auto;
}

.list-adress {
  display: flex;
  gap: 40px;
}

.contact-menu {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.order-section {
  background-color: var(--navy-blue);
  padding: 188px 0;
}

.order-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
}

/* .hover-focus:hover,
.hover-focus:focus {
  color: var(--ocean);
} */

.about-title {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inform {
  display: flex;
  gap: 24px;
}

.list-inform {
  width: calc((100% - 72px) / 4);
}

.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.inform-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.work-inform {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.inform-img-list {
  display: flex;
  gap: 24px;
}

.inform-img-item {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-list-team {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.work-box-inform {
  padding: 32px 0;
}

.name-title {
  text-align: center;
  margin-bottom: 8px;
}

.inform-text {
  text-align: center;
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer-logo {
  color: var(--cloud);
}

.business-info {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.img {
  display: block;
}
